//
// generated for: {{fullTablename}}
//
function {{tableName}}DbQuery(transaction, options) {
  const q = tables.{{table_name}}
      .select(tables.{{table_name}}.star(){{{extra_select}}})
      .from(tables.{{table_name}})
      .toQuery();

  // pluck the known query options
  q.text = db.addKnownQueryParameters({
    table: tables.{{table_name}},
    sqlText: q.text,
    queryOptions: options
  });
  log.debug(q.text);

  const request = transaction.request();
  return request.query(q.text);
}
exports.{{tableName}}DbQuery = {{tableName}}DbQuery;

exports.{{tableName}}Query = function(options, cb) {
  log.debug('{{module}}.{{tableName}}Query(%s)', log.inspect(options));
  const transaction = new mssql.Transaction(sqlPool);
    transaction.begin(err => {
      try {
        if (err) {
          throw db.wrapPgError(err);
        }

        // start the operation
        {{tableName}}DbQuery(transaction, options)
          .then( result => {
              transaction.commit(err => {
                if (err) {
                  cb(db.wrapPgError(err));
                  transaction.rollback();
                } else {
                  if (result.recordset.length > 0) {
                    cb(null, result.recordset);
                  } else {
                    cb(new restifyErrors.NotFoundError('no {{table_name}} rows matching criteria found'));
                  }
                }
              });
            })
          .catch(
            function(reject) {
              transaction.rollback();
              cb(reject);
            });
      } catch (e) {
        cb(e);
      }
    });
};
{{#insert}}

function {{tableName}}DbInsert(request, {{tableName}}, next) {
  const q = tables.{{table_name}}
    .insert({{tableName}})
    .toQuery();
  log.debug(q.text);

  for (let i = 0; i < q.values.length; i++) {
    request.input(i + 1, q.values[i]);
  }
  return request.query(q.text, next);
}
exports.{{tableName}}DbInsert = {{tableName}}DbInsert;

exports.{{tableName}}Insert = function({{tableName}}, cb) {
  log.debug('{{module}}.{{tableName}}Insert(%s)', log.inspect({{tableName}}));
  const transaction = new mssql.Transaction(sqlPool);
  const array = _.isArray({{tableName}}) ? {{tableName}} : [ {{tableName}} ];
  
  // we have a transaction started
  transaction.begin(err => {
    try {
      if (err) {
        throw db.wrapPgError(err);
      }
      const request = transaction.request();
      async.mapSeries(array, async function (o, next) {
        await {{tableName}}DbInsert(request, o, next)
      }, function (err, results) {
        if (err || results.length !== array.length) {
          transaction.rollback();
          cb(new lib.DatabaseError(
            util.format('unexpected database error: %d rows inserted, %d row(s) attempted',
              results.length, array.length))
          );
        } else {
          transaction.commit(err => {
            if (err) {
              cb(db.wrapPgError(err));
            } else {
              cb('Insert complete');
            }
          })
        }
      });
    } catch (e) {
      transaction.rollback();
      cb(e);
    }
  });
};
{{/insert}}
{{#update}}

function {{tableName}}DbUpdate(request, {{tableName}}, next) {
  const q = tables.{{table_name}}
    .update({{tableName}})
    .where(
    {{#primary_keys}}
       tables.{{table_name}}.{{primary_key}}.equals({{tableName}}.{{primary_key}}){{comma}}
    {{/primary_keys}}
    )
    .toQuery();
  log.debug(q.text);

  for (let i = 0; i < q.values.length; i++) {
    request.input(i + 1, q.values[i]);
  }
  return request.query(q.text, next);
}
exports.{{tableName}}DbUpdate = {{tableName}}DbUpdate;

exports.{{tableName}}Update = function({{tableName}}, cb) {
  log.debug('{{module}}.{{tableName}}Update(%s)', log.inspect({{tableName}}));
  const transaction = new mssql.Transaction(sqlPool);
  const array = _.isArray({{tableName}}) ? {{tableName}} : [ {{tableName}} ];

  // we have a transaction started
  transaction.begin(err => {
    try {
      if (err) {
        throw db.wrapPgError(err);
      }
      const request = transaction.request();
      async.mapSeries(array, async function (o, next) {
        await {{tableName}}DbUpdate(request, o, next)
      }, function (err, results) {
        if (err || results.length !== array.length) {
          transaction.rollback();
          cb(new restifyErrors.NotFoundError(
            util.format('%d rows updated, %d row(s) attempted',
                        results.length, array.length))
          );
        } else {
          transaction.commit(err => {
            if (err) {
              cb(db.wrapPgError(err));
            } else {
              cb('Update complete');
            }
          })
        }
      });
    } catch (e) {
      transaction.rollback();
      cb(e);
    }
  });
};
{{/update}}
{{#delete}}

function {{tableName}}DbDelete(request, {{tableName}}, next) {
  const q = tables.{{table_name}}
    .delete({{tableName}})
    .toQuery();
  log.debug(q.text);

  for (let i = 0; i < q.values.length; i++) {
    request.input(i + 1, q.values[i]);
  }
  return request.query(q.text, next);
}
exports.{{tableName}}DbDelete = {{tableName}}DbDelete;

exports.{{tableName}}Delete = function({{tableName}}, cb) {
  log.debug('{{module}}.{{tableName}}Delete(%s)', log.inspect({{tableName}}));
  const transaction = new mssql.Transaction(sqlPool);

  const array = _.isArray({{tableName}}) ? {{tableName}} : [ {{tableName}} ];

  transaction.begin(err => {
    try {
      if (err) {
        throw db.wrapPgError(err);
      }
      const request = transaction.request();
      async.mapSeries(array, async function (o, next) {
        await {{tableName}}DbDelete(request, o, next)
      }, function (err, results) {
        if (err || results.length !== array.length) {
          transaction.rollback();
          cb(new restifyErrors.NotFoundError(
            util.format('%d rows deleted from %d row specification(s)',
                        results.length, array.length))
          );
        } else {
          transaction.commit(err => {
            if (err) {
              cb(db.wrapPgError(err));
            } else {
              cb('Delete complete');
            }
          })
        }
      });
    } catch (e) {
      transaction.rollback();
      cb(e);
    }
  });
};
{{/delete}}
