//
// generated for: {{fullTablename}}
//
function {{tableName}}DbQuery(pgClient, options) {
  const q = tables.{{table_name}}
      .select(tables.{{table_name}}.star(){{{extra_select}}})
      .from(tables.{{table_name}})
      .toQuery();

  // pluck the known query options
  q.text = db.addKnownQueryParameters({
    table: tables.{{table_name}},
    sqlText: q.text,
    queryOptions: options
  });
  log.debug(q.text);

  return pgClient.query(q);
}
exports.{{tableName}}DbQuery = {{tableName}}DbQuery;

exports.{{tableName}}Query = function(options, cb) {
  log.debug('{{module}}.{{tableName}}Query(%s)', log.inspect(options));

  pgPool.connect((err, pgClient, done) => {
    if (err) {
      return cb(db.wrapPgError(err));
    }

    transaction.begin(pgClient, done, function (err) {
      try {
        if (err) {
          throw db.wrapPgError(err);
        }

        // start the operation
        {{tableName}}DbQuery(pgClient, options)
          .then(
            function(result) {
              transaction.commit(pgClient, done, function(err) {
                if (err) {
                  cb(db.wrapPgError(err));
                } else {
                  if (result.rows.length > 0) {
                    cb(null, result.rows);
                  } else {
                    cb(new restifyErrors.NotFoundError('no {{table_name}} rows matching criteria found'));
                  }
                }
              });
            })
          .catch(
            function(reject) {
              transaction.rollback(pgClient, done);
              cb(reject);
            });
      } catch (e) {
        done();
        cb(e);
      }
    });
  });
};
{{#insert}}

function {{tableName}}DbInsert(pgClient, {{tableName}}) {
  const q = tables.{{table_name}}
    .insert({{tableName}})
    .returning(tables.{{table_name}}.star())
    .toQuery();
  log.debug(q.text);

  return pgClient.query(q);
}
exports.{{tableName}}DbInsert = {{tableName}}DbInsert;

exports.{{tableName}}Insert = function({{tableName}}, cb) {
  log.debug('{{module}}.{{tableName}}Insert(%s)', log.inspect({{tableName}}));

  const array = _.isArray({{tableName}}) ? {{tableName}} : [ {{tableName}} ];
  pgPool.connect((err, pgClient, done) => {
    if (err) {
      return cb(db.wrapPgError(err));
    }

    // we have a transaction started
    transaction.begin(pgClient, done, function (err) {
      try {
        if (err) {
          throw db.wrapPgError(err);
        }

        // start the operation(s)
        const promises = _.map(array, function (o) {
          return {{tableName}}DbInsert(pgClient, o);
        });

        // resolve promises and transaction
        db.insertPromisesResolve(pgClient, done, array, promises, cb);
      } catch (e) {
        done();
        cb(e);
      }
    });
  });
};
{{/insert}}
{{#update}}

function {{tableName}}DbUpdate(pgClient, {{tableName}}) {
  const q = tables.{{table_name}}
    .update({{tableName}})
    .where(
    {{#primary_keys}}
       tables.{{table_name}}.{{primary_key}}.equals({{tableName}}.{{primary_key}}){{comma}}
    {{/primary_keys}}
    )
    .returning(tables.{{table_name}}.star())
    .toQuery();
  log.debug(q.text);

  return pgClient.query(q);
}
exports.{{tableName}}DbUpdate = {{tableName}}DbUpdate;

exports.{{tableName}}Update = function({{tableName}}, cb) {
  log.debug('{{module}}.{{tableName}}Update(%s)', log.inspect({{tableName}}));

  const array = _.isArray({{tableName}}) ? {{tableName}} : [ {{tableName}} ];
  pgPool.connect((err, pgClient, done) => {
    if (err) {
      return cb(db.wrapPgError(err));
    }

    // we have a transaction started
    transaction.begin(pgClient, done, function (err) {
      try {
        if (err) {
          throw db.wrapPgError(err);
        }

        // start the operation(s)
        const promises = _.map(array, function (o) {
          return {{tableName}}DbUpdate(pgClient, o);
        });

        // resolve promises and transaction
        db.updatePromisesResolve(pgClient, done, array, promises, cb);
      } catch (e) {
        done();
        cb(e);
      }
    });
  });
};
{{/update}}
{{#delete}}

function {{tableName}}DbDelete(pgClient, {{tableName}}) {
  const q = tables.{{table_name}}
    .delete({{tableName}})
    .toQuery();
  log.debug(q.text);

  return pgClient.query(q);
}
exports.{{tableName}}DbDelete = {{tableName}}DbDelete;

exports.{{tableName}}Delete = function({{tableName}}, cb) {
  log.debug('{{module}}.{{tableName}}Delete(%s)', log.inspect({{tableName}}));

  const array = _.isArray({{tableName}}) ? {{tableName}} : [ {{tableName}} ];
  pgPool.connect((err, pgClient, done) => {
    if (err) {
      return cb(db.wrapPgError(err));
    }

    transaction.begin(pgClient, done, function (err) {
      try {
        if (err) {
          throw db.wrapPgError(err);
        }

        // start the operation(s)
        const promises = _.map(array, function (o) {
          return {{tableName}}DbDelete(pgClient, o);
        });

        // resolve promises and transaction
        db.deletePromisesResolve(pgClient, done, array, promises, cb);
      } catch (e) {
        done();
        cb(e);
      }
    });
  });
};
{{/delete}}
